@import url('https://fonts.googleapis.com/css2?family=Mitr:wght@300&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: linear-gradient(135deg, #141e30, #243b55);
}


.box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, .5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
    border-radius: 10px;
}

.box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
}

.box .user-box {
    position: relative;
}

.box .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}

.box .user-box label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}

.box .user-box input:focus~label,
.box .user-box input:valid~label {
    top: -20px;
    left: 0;
    color: #03e9f4;
    font-size: 12px;
}

.btnbox {
    display: flex;
    justify-content: center;
}

.btn {
    height: 40px;
    width: 100px;
    background-color: #2488F0;
    color: white;
    font-size: 2vh;
    font-weight: bold;
    box-shadow: 2px 3px 20px #2B34D9;
    border-radius: 5px;
    margin-left: 10px;
    margin-right: 10px;
}

.btn:hover {
    background-color: #4FF5F3;
    color: #010305;
}

.log {
    font-size: 5vh;
    font-weight: bolder;
}

@media screen and (max-width: 800px) {
    .box {
        margin: 1em 2em;
    }
}